body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #183A37;
    color: #EFD6AC;
    margin: 0;
}
header {
    background-color: #04151F;
    margin-top: 2rem;
    grid-area: h;
    margin: 0;
    padding: 0;
}
h1, h3 {
    margin: 1rem;
}
section {
    display: flex;
    grid-area: m;
    justify-content: center;
}
article {
    background-color: #423534;
    max-width: 500px;
    width: 100%;
    margin: 2rem;
    padding: 1rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
textarea {
    min-height: 100px;
}
input, textarea {
    background-color: #EFD6AC;
    border: none;
    margin: 1rem;
    width: 100%;
    max-width: 100%;
    min-width: 200px;
    padding: 0;
}
button {
    max-width: 100px;
    margin: 1rem;
}
p {
    padding-left: 1rem;
}
footer {
    justify-content: center;
    grid-area: f;
    background-color: #04151F;
    padding: 1rem;
    padding-left: 4rem;
}
.container {
    display: grid;
    grid-template-rows: 125px 1fr;
    grid-template-areas:
        'h'
        'm'
        'f';
    width: 100vw;
    height: 100vh;
    min-width: 500px
}
#email {
    max-width: 200px;
}
#name {
    max-width: 300px;
}